/*******************
 Global styling
 *******************/
h1, h1 a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: clamp(1em, 10vw, 2em);
    text-decoration: none;
}
h2, h3, h4, h5, h6{
    font-family: 'Cabin', sans-serif;
}
h2 {
    font-size: 2em;
    color: #2e2d2d;
}
h4 {
    font-size: 2em;
}
p, a, li {
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
html {
    min-width: 100%;
}
body{
    margin: 0;
    width: 100%;
    max-width: 100%;
    position: page;
    display: grid;
    grid-template-columns: repeat(4, 20% 26.66% 26.66% 26.66%);
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
    background-color: #e8e3dc;
}
/*******************
 Styling for the header
 *******************/
header {
    grid-area: header;
    display: flex;
    align-items: center;
    height: 8em;
    width: 100%;
    background-color: #853f36;
    position: fixed;
    color: #f0ede9;
}
header div:nth-child(1){
    height: 100%;
}
header div:nth-child(1) img {
    height: 95%;
    padding: 2%;
}
header div:nth-child(2) {
    flex-grow: 1;
    padding: 0% 2%;
}
/* Remove styling from the link in the header */
header div:nth-child(2) h1 a{
    color: inherit;
    text-decoration: none;
}
header nav menu {
    display: flex;
    list-style: none;
}
header nav menu li{
    padding: 0px 1em;
    font-size: 1.3em;
}
header nav menu li a{
    color: #c9c9c7;
}
/*******************
 Styling for the main body
 *******************/
.main {
    background-color: #e8e3dc;
    color: #0e0e0e;
}
main {
    grid-area: main;
    align-items: center;
}
.product-promo {
    display: flex;
    width: 100%;
    height: 10em;
    font-size: 3em;
    color: #f4f4f4;
    background-image: url("../img/header.jpg");
    background-size: cover;
    align-items: center;
    margin-top: 5%;
}
.product-promo div:nth-child(1) { /* Transparent mask to make the text legible */
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
}
.product-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    height: 4em;
    background-color: #d6cfc5;
}
/*******************
 Product plates styling
 *******************/
.main div {
    margin: 10px;
    text-align: center;
    background-color: #f4f4f4;
}
.main div p:nth-child(4),
.main div p:nth-child(5) { /* Adjust the (and up) and ingredients */
    font-size: 1em;
    color: #696564;
    padding: 2%;
}
.price {
    font-size: 2em;
    color: #454343;
}
/*******************
 Pizza menu styling
 *******************/
.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}
.menu div {
    max-width: 400px;
    flex: 1 1 23%; /* Set the divs to make columns of 4s */
}
.menu img {
    /* Height is set to a static value so I don't have to manually adjust every image (they're all different sizes) */
    width: 100%;
    height: 280px;
}
/*******************
 Pseudo-ordering template (pizza version) styling
 *******************/
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 30px 0px;
    background-color: #e8e3dc;
}
.container {
    width: 95%;
    height: auto;
    background-color: #f4f4f4;
    flex-wrap: wrap;
    border-radius: 10px;
}
.container > * {
    flex: 1;
}
.form div {
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 600px;
}
/* Picture of pizza being ordered (in theory) */
.form div:nth-child(1) img {
    width: 400px;
    height: auto;
}
/* Contains the pizza selection options */
.container section {
    max-width: 250px;
}
.container section div {
    justify-content: center;
    align-content: center;
}
.container section div select {
    width: 100%;
}
/* Container for ingredients checkboxes */
.container section:nth-child(3) {
    width: auto;
    max-width: 600px;
}
.container section:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    padding: 1%;
}
.container section:nth-child(3) div:nth-child(1){
    width: 100%;
}
.container section:nth-child(3) div:nth-child(2),
.container section:nth-child(3) div:nth-child(3),
.container section:nth-child(3) div:nth-child(4),
.container section:nth-child(3) div:nth-child(5){
    height: 100%;
    align-items: flex-end;
    justify-items: center;
    flex-direction: column;
    flex: 1 1 20%; /* Set the divs to make columns of 4s */
}
.container section:nth-child(3) div p {
    font-size: 1.5em;
}
/* Ingredients checkboxes */
.selection {
    display: flex;
    font-family: 'Rubik', sans-serif;
    text-align: right;
    font-size: 1em;
    padding: 3px;
}
.add-cart {
    flex-basis: 150px;
}
.add-cart button {
    width: 100%;
    height: 80px;
}
/*******************
 Sides selection styling
 *******************/
.side-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}
.side-menu div {
    max-width: 400px;
    flex: 1 1 23%;
}
.side-menu img{
    width: 100%;
    height: auto;
}
/*******************
 Pseudo-ordering template (sides version) styling
 *******************/
.form-sides {
    display: flex;
    height: auto;
    width: 100%;
    padding: 30px 0px;
    background-color: #e8e3dc;
    flex: 1 1 50%;
}
.container-sides {
    width: 95%;
    max-width: 600px;
    height: auto;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form-sides div {
    padding: 10px;
}
/* Picture of side being ordered (in theory) */
.image-sides {
    width: 100%;
}
.image-sides img {
    width: 100%;
    height: auto;
}
/* Side selection */
.container-sides section div select {
    width: 100%;
}
.add-cart-sides {
    flex-basis: 150px;
}
.add-cart-sides button {
    width: 100%;
    height: 80px;
}
/*******************
 Pseudo-checkout cart styling
 *******************/
aside {
    grid-area: sidebar;
    background-color: #d6cfc5;
    padding-top: 20px;
    margin-top: 7.5em;
    width: 100%;
}
aside section {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #e8e3dc;
    width: 90%;
    max-width: 350px;
    height: auto;
    margin: auto;
}
aside section div {
    padding: 0 10px;
    height: min-content;
    flex-basis: 100px;
    flex-grow: 1;
}
aside section div:nth-child(odd){ /* "Cart", the items, and "total" */
    width: 55%;
}
aside section div:nth-child(even) { /* The icon, the prices */
    width: min-content;
    align-self: center;
    text-align: right;
}
aside section div:nth-child(2) {
    font-size: 2em;
    width: auto;
}
aside section div:nth-child(5) {
    width: min-content;
}
aside section div p {
    font-size: 1em;
}
/*******************
Footer styling
 *******************/
footer {
    grid-area: footer;
    width: 100%;
    background-color: #57524c;
    box-sizing: border-box;
}
footer section {
    display: flex;
    justify-content: end;
    align-items: center;
}
footer section div {
    padding: 1%;
    width: 100%;
    flex-wrap: wrap;
    font-size: 0.4em;
    color: #f4f4f4;
    flex-grow: 1;
}
footer section div:nth-child(1) {
    text-align: right;
}
footer section div:nth-child(2) {
    width: max-content;
    text-align: center;
}
footer section div:nth-child(3) {
    width: max-content;
    height: max-content;
}
footer section div:nth-child(3) img {
    width: 100%;
    height: auto;
}
/*******************
Responsive Design
 *******************/
@media screen and (max-width: 1440px) {
    .menu div {
        flex: 1 1 25%; /* Adjust columns to x3 */
    }
    .side-menu div {
        flex: 1 1 50%; /* Adjust columns to x2 (to make them uniform) */
    }
}
@media screen and (max-width: 1200px) {
    h1, h1 a {
        font-size: 1.8em;
    }
    /* Move the checkout cart to the bottom */
    body{
        grid-template-areas:
    "header header header header"
    "main main main main"
    "sidebar sidebar sidebar sidebar"
    "footer footer footer footer";
    }
    .menu div {
        flex: 1 1 50%; /* Adjust columns to x2 */
    }
    aside {
        padding: 20px 0px;
        margin-top: 1em;
    }
}
@media screen and (max-width: 768px) {
    /* Generally just making things smaller to suit the screen */
    h1 {
        font-size: 1em;
    }
    .product-promo {
        font-size: 2.5em;
        margin-top: 10%;
    }
    .menu img {
        height: 260px;
    }
    /* Reformatting the footer to be vertical instead of horizontal */
    footer section {
        flex-wrap: wrap;
    }
    footer section div {
        display: flex;
        height: max-content;
        justify-content: center;
    }
    footer section div:nth-child(1) {
        text-align: center;
    }
    footer section div:nth-child(3) {
        width: 100%;
        height: max-content;
    }
    footer section div:nth-child(3) img {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width: 600px) {
    header nav menu li{
        font-size: 0.8em;
    }
    .product-promo {
        font-size: 2em;
        margin-top: 20%;
    }
}